<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BOOK RECOMMENDATION SYSTEM</title>
</head>
<body>
    <div class="container">
        <h1>BOOK RECOMMENDATION SYSTEM</h1>
        <form action="/search" method="post">
            <label for="query">Enter your search query:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Search</button>
        </form>

        <!-- Display Search Results Here -->
        <div class="results">
            {% if search_results %}
                <h2>Search Results</h2>
                <ul>
                    {% for result in search_results %}
                        <li>{{ result['title'] }} - {{ result['score'] }}</li>
                    {% endfor %}
                </ul>
                <p>Time taken to search: {{ time_taken }} seconds</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
